In [34]:
people = {
    'first': [ 'Corey', 'Jane', 'John' ],
    'last': [ 'Schafer', 'Doe', 'Doe' ],
    'email': [ 'CoreySchafer@gmail.com', 'JaneDoe@gmail.com', 'JohnDoe@gmail.com']
}

In [35]:
import pandas as pd

In [36]:
df = pd.DataFrame(people)

In [37]:
df

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com
2   John      Doe       JohnDoe@gmail.com

In [38]:
df.first

<bound method NDFrame.first of    first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com
2   John      Doe       JohnDoe@gmail.com>

In [39]:
df['first']

0    Corey
1     Jane
2     John
Name: first, dtype: object

In [40]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [41]:
df.iloc[0]

first                     Corey
last                    Schafer
email    CoreySchafer@gmail.com
Name: 0, dtype: object

In [42]:
df.iloc[[0, 1]]

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com

In [43]:
df.iloc[[0, 1], 2]

0    CoreySchafer@gmail.com
1         JaneDoe@gmail.com
Name: email, dtype: object

In [44]:
df['email'].value_counts()

email
CoreySchafer@gmail.com    1
JaneDoe@gmail.com         1
JohnDoe@gmail.com         1
Name: count, dtype: int64

In [45]:
df.loc[0:1, 'last']

0    Schafer
1        Doe
Name: last, dtype: object

In [25]:
df.iloc[0:2, 1]

0    Schafer
1        Doe
Name: last, dtype: object

In [49]:
df

                        first     last
email
CoreySchafer@gmail.com  Corey  Schafer
JaneDoe@gmail.com        Jane      Doe
JohnDoe@gmail.com        John      Doe

In [50]:
df.reset_index(inplace=True)