In [2]:
people = {
    'first': [ 'Corey', 'Jane', 'John' ],
    'last': [ 'Schafer', 'Doe', 'Doe' ],
    'email': [ 'CoreySchafer@gmail.com', 'JaneDoe@gmail.com', 'JohnDoe@gmail.com']
}

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(people)

In [5]:
# retrieving rows with last name Doe
filt = df['last'] == 'Doe'
df.loc[filt]

  first last              email
1  Jane  Doe  JaneDoe@gmail.com
2  John  Doe  JohnDoe@gmail.com

In [6]:
# filterign the emails of rows with last name Doe
df.loc[filt, 'email']

1    JaneDoe@gmail.com
2    JohnDoe@gmail.com
Name: email, dtype: object

In [9]:
# filtering the emails of rows with last name Doe and first name John
filt_1 = (df['last'] == 'Doe') & (df['first'] == 'John')

In [13]:
df.loc[filt_1, 'email']

2    JohnDoe@gmail.com
Name: email, dtype: object

In [11]:
# filtering the emails of rows with last name Schafer or first name John
filt_2 = (df['last'] == 'Schafer') | (df['first'] == 'John')

In [14]:
df.loc[filt_2, 'email']

0    CoreySchafer@gmail.com
2         JohnDoe@gmail.com
Name: email, dtype: object

In [16]:
# filtering the emails of rows without last name Schafer or first name John
filt_3 = (df['last'] == 'Schafer') | (df['first'] == 'John')
df.loc[~filt_3, 'email']

1    JaneDoe@gmail.com
Name: email, dtype: object

In [18]:
# alt to filt_3
filt_4 = ~(df['last'] == 'Schafer') & ~(df['first'] == 'John')
df.loc[filt_4, 'email']

1    JaneDoe@gmail.com
Name: email, dtype: object